body {
  background-color: #E7F6F2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 6px;
  width: 6%
}

h1 {
  color: #66BFBF
}

h3 {
  color: #66BFBF
}

img {
  height: 350px;
}
